
@media screen and (max-width: 767px) {

    body{
        font-size: 10px;
    }



    .namaLogo span {
        font-size: 0.7em !important; 
      }


      .navbar-nav a{
        font-size: 10px;
    }


    .about-me{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(2, min-content);
    }


    .post-instagram-imm{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }


    .logo-profil-instagram-imm img{
        width: 4em;
    }

    .post-instagram-imm img{
        width: 8em;
    }


    .text-profil-instagram-imm span:nth-child(2){
        display: none;
    }

    .text-profil-instagram-imm span:nth-child(3){
        display: block;
    }


    .footer-instagram-imm div:nth-child(1),
    .footer-instagram-imm div:nth-child(2){
        font-size: 8px;
    }

    .news-item {
        flex: 0 0 calc(95% / 2); 
    }

    .waktuKomentarUser span{
        font-size: 8px;
    }

}



@media screen and (min-width: 768px) and (max-width: 1248px) {
    body{
        font-size: 12px;
    }


    .namaLogo span {
        font-size: 0.9em !important; 
      }

      
      .navbar-nav a{
        font-size: 12px;
    }


    .about-me{
        grid-template-columns: repeat(2, 1fr);
    }

    .iframe-lokasi-imm iframe{
        width: 90%;
        height: 30em;
        margin: 1em;
    }

    .footer-instagram-imm div:nth-child(1),
    .footer-instagram-imm div:nth-child(2){
        font-size: 10px;
    }

    .waktuKomentarUser span{
        font-size: 9px;
    }
  }


  @media screen and (min-width: 1248px){
    .hubungiKami{
        padding: 5em;
    } 

    .waktuKomentarUser span{
        font-size: 12px;
    }


   
   
  }
