body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}


.about-me{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
    gap: 3em;
}

.detail-about-me{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3em;
}

.detail-about-me h4{
    order: 2;
    font-size: 2em;
    margin: 0;
    color: rgb(55, 134, 19);
    text-shadow: 1px 1px 2px #4b4444;
}

.detail-about-me span{
    order: 1;
    color: rgb(230, 214, 0);
    font-size: .8em;
    font-weight: 600;
    font-style: italic;
}

.detail-about-me p{
    order: 3;
    line-height: 1.5;
    color: #4b4444;
}

.lokasi-about-me{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-lokasi-about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 60dvh;
}

.detail-lokasi-about-me span:nth-child(1){
    font-size: 1.5em;
    color: rgb(55, 134, 19);
    font-weight: 800;
    margin: .5em;
}

.iframe-lokasi-imm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    overflow: hidden;
}

.lainnya-lokasi-about-me{
    display: flex;
    flex-direction: column;
}


.lainnya-lokasi-about-me details{
    border-bottom: 5px solid #dbd3d3;
    padding: .5em;
}

.lainnya-lokasi-about-me details a{
    color: #000;
    text-decoration: none;
}


.lainnya-lokasi-about-me details summary{
    position: relative;
    cursor: pointer;
    padding: .5em;
}

.lainnya-lokasi-about-me details summary i{
    margin-right: .4em;
}

.lainnya-lokasi-about-me details summary::marker{
    content: "";
}

.lainnya-lokasi-about-me details summary::-webkit-details-marker{
    display: none;
}





/* Responsive */

@media screen and (max-width: 767px) {

    body{
        font-size: 10px;
    }


    .about-me{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(2, min-content);
    }



}




@media screen and (min-width: 768px) and (max-width: 1248px) {
    body{
        font-size: 12px;
    }

    .about-me{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(2, min-content);
    }
  }
