body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}



.namaLogo span {
    font-family: cursive, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.about-me{
    display: grid;
    grid-template-columns: repeat(1, 1.5fr) repeat(1,1fr);
    padding: 2em;
    gap: 3em;
}

.detail-about-me{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3em;
}

.detail-about-me h4{
    order: 2;
    font-size: 2em;
    margin: 0;
    color: rgb(55, 134, 19);
    text-shadow: 1px 1px 2px #4b4444;
}

.detail-about-me span{
    order: 1;
    color: rgb(230, 214, 0);
    font-size: .8em;
    font-weight: 600;
    font-style: italic;
}

.detail-about-me p{
    order: 3;
    line-height: 1.5;
    color: #4b4444;
}

.lokasi-about-me{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-lokasi-about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: auto;
}

.detail-lokasi-about-me span:nth-child(1){
    font-size: 1.5em;
    color: rgb(55, 134, 19);
    font-weight: 800;
    margin: .5em;
}

.iframe-lokasi-imm{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.iframe-lokasi-imm iframe{
    width: 90%;
    height: 25em;
    margin: 1em;
}


/* bagian card instagram */

.instagram-imm{
    padding: 0 5em 0 5em;
}

.content-instagram-imm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profil-instagram-imm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em;
    padding: 1em;
}

.logo-profil-instagram-imm img{
    width: 6em;
}

.text-profil-instagram-imm{
    display: flex;
    flex-direction: column;
    margin: 1em;
    gap: .2em;
}

.text-profil-instagram-imm span:nth-child(1){
    font-weight: 800;
    font-size: 1.2em;
}

.text-profil-instagram-imm span:nth-child(2){
    font-size: .8em;
}

.text-profil-instagram-imm span:nth-child(3){
    font-size: .8em;
    display: none;
}


.post-instagram-imm{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
}

.post-instagram-imm img{
    width: 12.5em;
    height: auto;
}

.footer-instagram-imm{
    display: flex;
    gap: 1em;
    margin: 1em;
}

.footer-instagram-imm a{
    text-decoration: none;
    color: #fff;
}

.footer-instagram-imm div:nth-child(1),
.footer-instagram-imm div:nth-child(2){
    padding: .7em;
    font-size: 13px;
    border-radius: .3em;
    cursor: pointer;
}

.footer-instagram-imm div:nth-child(1){
    background: #4b4444;
}

.footer-instagram-imm div:nth-child(1):hover{
    background: #706464;
}

.footer-instagram-imm div:nth-child(2){
    background: #0556c0;
}

.footer-instagram-imm div:nth-child(2):hover{
    background: #156bdd;
}

/* according */

.accordion-body a{
    text-decoration: none;
    color: #000;
}






/* bagian berita */
.news-slider-container {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.news-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.news-item {
    flex: 0 0 calc(100% / 3); 
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin-right: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.news-item:last-child {
    margin-right: 0;
}



/* bagian href-class buat pointer */
.href-class{
    cursor: pointer;
}
